.overlay {
  height: 100%;
  width: 0;
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); 
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlayContent {
  position: relative;
  top: 14%;
  width: 100%;
  text-align: center; 
  margin-top: 1.2rem;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; 
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 3rem;
  cursor: pointer;
  color: #fff;
}


.btnTrailer {
  border: none;
  background-color: #1560BD;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 12px;

  display: flex;
  align-items: center;
  gap: 0.5rem;
  letter-spacing: 1px;
  transition: all .4s;
}

.btnTrailer svg {
  font-size: 1.6rem;
}

.btnTrailer:hover {
  background-color: #2a578f;
  color: #000;
}

iframe {
  width: 90%;
  height: 400px;
}

.titleTrailer {
  margin: 0 auto 2.5rem;
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: bold;
  max-width: 700px;
  padding: 0 0.5rem;
}

.titleNotFound {
  position: relative;
  top: 40%;
  color: red;
  font-weight: bold;
}

.seeTrailerIcon {
  font-size: 1.8rem;
  cursor: pointer;
  transition: all .6s;
}

.seeTrailerIcon:hover {
  color: #1560BD;
  transform: rotate(360deg)
}

@media (min-width: 1024px) {
  iframe {
    width: 70%;
  }

  .titleTrailer {
    font-size: 2.1rem;
  }

  .overlay .closebtn {
    font-size: 4rem;
  }
}

@media (min-width: 1440px) {
  iframe {
    width: 60%;
  }
}

@media (min-width: 1680px) {
  iframe {
    width: 45%;
  }
}